<div class="wrapper">
  <header>
    <div class="add-new-wrapper"><span>My Calender</span> <button class="add-new" type="button"
        (click)="openEventChange()">New</button></div>
    <div class="icons">
      <span (click)="goToMonth(-1)" class="material-symbols-rounded">chevron_left</span>
      <p class="current-date">{{todayDate}}</p>
      <span (click)="goToMonth(+1)" class="material-symbols-rounded">chevron_right</span>
    </div>
  </header>
  <div class="calendar">
    <ng-container *ngFor="let date of dateMap | keyvalue: originalOrder">
      <div class="days" cdkDropList id="{{date}}" (cdkDropListDropped)="drop($event, date)"
        [cdkDropListData]="getEvents(date)">
        <span class="{{isTodayDate(date.key)}}">
          {{date.value}}
        </span>
        <div class="events-wrapper">
          <ng-container *ngFor="let event of events(date.key) | keyvalue: originalOrder; let index = index;">
            <button class="menu-button-class" cdkDrag cdkDragHandle mat-button [matMenuTriggerFor]="menu"
              [matMenuTriggerData]="{event: event, date: date.key, index: index}">{{event.value}}</button>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-event="event" let-date="date" let-index="index">
    <button mat-menu-item (click)="editEvent(event, date, index)">Edit</button>
    <button mat-menu-item (click)="deleteEvent(event, date, index)">Delete</button>
  </ng-template>
</mat-menu>